In [79]:
import csv
import pandas
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols 
from statsmodels.stats.anova import anova_lm
import itertools

# 1. Show the equivalence of t-test and F-test for comparing two groups

Load data from “galton.csv”

Calculate the t and F values and compare t2 and F.

Compare p values from both tests.

In [46]:
#Load data from "galton.csv"

data1 = pandas.read_csv("galton.csv")
data2 = pandas.read_csv("galton.csv")

df1 = data1["father"].to_numpy()
df2 = data1["mother"].to_numpy()

In [47]:
#Calculate the t and F values and compare t2 and F.

#running a t-test
t, pval = stats.ttest_ind(df1, df2)
print(pval)
if pval < 0.05:
    print('With the T-test, data1 and data2 are significantly different (p = {0:5.3f})'.format(pval))
else:
    print('No difference between data1 and data2 with T-test.')

1.443197963131157e-302
With the T-test, data1 and data2 are significantly different (p = 0.000)

In [48]:
#running a F-test
F_statistic, pVal = stats.f_oneway(df1, df2)
print(pVal)
if pVal < 0.05:
    print('With the F-test, data1 and data2 are significantly different (p = {0:5.3f})'.format(pval))
else:
    print('No difference between data1 and data2 with T-test.')

1.4431979631307123e-302
With the F-test, data1 and data2 are significantly different (p = 0.000)

In [57]:
#comparing t2 and F
print('\nT^2 == F: ------------------------------------------')
print(f'From the t-test we get t^2={t**2:5.3f}, ' +
          f'and from the F-test F={F_statistic:5.3f}')

T^2 == F: ------------------------------------------
From the t-test we get t^2=2083.481, and from the F-test F=2083.481

In [56]:
#Comparing p-values from both tests
if pval == pVal:
    print('The p-values from the t-test and F-test are the same')
else:
    ratio = pval/pVal
    print(f'The p-values from the t-test and F-test are different but very similar with ratio %s'%ratio)

The p-values from the t-test and F-test are different but very similar with ratio 1.0000000000003082

# 2. Calculate Sums of squares (SS) and degrees of freedom (DF)

# Data:

Group1: [3, 2, 1]

Group2: [5, 3, 4]

Group3: [5, 6, 7]


# Calculate Sums of squares (SS)

SStotal

SSwithin groups (Note: same as SSError in the textbook)

SSbetween groups (Note: same as SSTreatment in the textbook)

Show that SStotal = SSwithin groups + SSbetween groups

# Calculate Degrees of Freedom

DFtotal

DFwithin groups (Note: same as DFError in the textbook)

DFbetween groups (Note: same as DFTreatment in the textbook)

Show that DFtotal = DFwithin groups + DFbetween groups

In [62]:
#load data
Group1 = [3, 2, 1]
Group2 = [5, 3, 4]
Group3 = [5, 6, 7]

#df = pandas.DataFrame({'Group1': [3, 2, 1], 'Group2':[5, 3, 4], 'Group3': [5, 6, 7]})

   Group1  Group2  Group3
0       3       5       5
1       2       3       6
2       1       4       7

In [103]:
#SStotal

sum1 = 0
for i in range(0, len(Group1)):
    sum1 = sum1 + Group1[i]

sum2 = 0 
for i in range(0, len(Group2)):
    sum2 = sum2 + Group2[i]
  
sum3 = 0 
for i in range(0, len(Group3)):
    sum3 = sum3 + Group3[i]

grandMean = (sum1 + sum2 + sum3)/(len(Group1) + len(Group2) + len(Group3))

SStotal = ((Group1[0] - grandMean)**2)+((Group1[1] - grandMean)**2)+((Group1[2] - grandMean)**2)+((Group2[0] - grandMean)**2)+((Group2[1] - grandMean)**2)+((Group2[2] - grandMean)**2)+((Group3[0] - grandMean)**2)+((Group3[1] - grandMean)**2)+((Group3[2] - grandMean)**2)
print(SStotal)

30.0

In [97]:
#SSwithin groups

mean1 = sum1/len(Group1)
mean2 = sum2/len(Group2)
mean3 = sum3/len(Group3)

SSwithin = ((Group1[0] - mean1)**2)+((Group1[1] - mean1)**2)+((Group1[2] - mean1)**2)+((Group2[0] - mean2)**2)+((Group2[1] - mean2)**2)+((Group2[2] - mean2)**2)+((Group3[0] - mean3)**2)+((Group3[1] - mean3)**2)+((Group3[2] - mean3)**2)
print(SSwithin)

6.0

In [99]:
#SSbetween groups

SSbetween = len(Group1)*((mean1-grandMean)**2) + len(Group2)*((mean2-grandMean)**2) + len(Group3)*((mean3-grandMean)**2)
print(SSbetween)

24.0

In [104]:
#SStotal = SSwithin groups + SSbetween groups
print("The sum of SSwithin and SSbetween is:", SSwithin + SSbetween)

anotherSum = SSwithin + SSbetween
if anotherSum == SStotal:
    print('The sum of SSwithin and SSbetween is equal to SStotal')

The sum of SSwithin and SSbetween is: 30.0
The sum of SSwithin and SSbetween is equal to SStotal

In [107]:
#DFtotal 

m = 3
n = 3
DFtotal = (m*n)-1
print(DFtotal)

8

In [108]:
#DFwithin groups

DFwithin = m*(n-1)
print(DFwithin)

6

In [109]:
#DFbetween groups

DFbetween = n-1
print(DFbetween)

2

In [111]:
#DFtotal = DFwithin groups + DFbetween groups

print("The sum of DFwithin and DFbetween is:", DFwithin + DFbetween)

anotherSum1 = DFwithin + DFbetween
if anotherSum1 == DFtotal:
    print('The sum of DFwithin and DFbetween is equal to DFtotal')

The sum of DFwithin and DFbetween is: 8
The sum of DFwithin and DFbetween is equal to DFtotal